@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans:  "New Tegomin",sans-serif;

    --color-jdbrown: #7A6053;
    --color-jdbase: #CCCCCC;
    --color-jdwhite: #D9D9D9;
    --color-jdchocomilk: #B7A9A2;
    --color-jdsuccess: #9FB27F;
    --color-jdinfo: #8493B4;
}